p{
    font-size: 20; 
    font-style: italic;
}
H2{
    font-weight: bold;
}
.RAKI{
    font-style: oblique;
    font-variant: small-caps;
}
#chandu{
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
}